body{
    background-color:#263238;
}
.main{
    border: 2px solid black;
    width: 430px;
    height: 500px;

    background-color:white;
    margin: 0 auto;
}
.result{
   margin-bottom: 40px;
   width: 98%;
   height: 70px;
   background-color: #212121;
   font-size: 35px;
   font-weight: bolder;
   color: white;

}
.result:hover{
   background-color: white;
   color: black;
}
.btn1,.btn2,.btn3,.btn,.btn5,.btn6,.btn7,.btn4,.btn5,.btn8,.btn9,.btn10,.btn11,.btn12,.btn13,.btn14,.btn15,.btn16{
   width: 100px;
   height: 70px;
   margin: 2px 2px 2px 2px;
   

}
.btn13,.btn14,.btn15,.btn16{
   margin-bottom: 20px;
 
}

.btn1,.btn2,.btn3,.btn5,.btn6,.btn7,.btn9,.btn10,.btn11,.btn13{
   background-color: white;
   color: black;
   font-size: 35px;
   font-weight: bolder;
   border-style: none;

}
.btn1:hover{
   background-color:black;
   color: white;
}
.btn2:hover{
   background-color:black;
   color: white;
}

.btn3:hover{
   background-color:black;
   color: white;
}

.btn5:hover{
   background-color:black;
   color: white;
}

.btn6:hover{
   background-color:black;
   color: white;
}
.btn7:hover{
   background-color:black;
   color: white;
}
.btn9:hover{
   background-color:black;
   color: white;
}
.btn10:hover{
   background-color:black;
   color: white;
}
.btn11:hover{
   background-color:black;
   color: white;
}
.btn13:hover{
   background-color:black;
   color: white;

}
.btn11:hover{
   background-color:
black;
   color: white;
}
.btn13:hover{
   background-color:black;
   color: white;
}
.btn4,.btn8,.btn12,.btn14,.btn15,.btn16{
   background-color: white;
   font-size: 35px;
   font-weight: bolder;
   color: black;
   border-style: none;
   
}
.btn14{
   background-color: 
  white;
}
.btn14:hover{
   background-color: #1B5E20;
}

.btn4:hover{
   background-color: #EF6C00;
}
.btn8:hover{
   background-color: #FFAB40;
}
.btn12:hover{
   background-color: #82B1FF;
}

.btn15:hover{
   background-color: 
   #37474F;
   color: white;
}

.btn16:hover{
   background-color: navy;
   color: white;
}
